@model List<Article>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" name="Title">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">INSERT</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>CreatedOn</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Article article in Model)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td>@article.Slug</td>
                    <td>@article.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>
